.project__logo{
    list-style: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display:inline-block;
    margin: 15px;
    height: 30px;
    color:var(--color-text)
}